target
!target/release/lycoris
!target/x86_64-unknown-linux-musl/release/lycoris
.git
cache
deploy
.github
e2e/certs
e2e/config
e2e/*.sh
e2e/docker-compose.yml
*.md
Cargo.lock
rustfmt.toml
taplo.toml
.codex
AGENTS.md
